.DS_Store
.idea
node_modules
dump.rdb

coverage
log/

.nyc_output

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# build folders
build
dist

# docs
docs

#Sonar report
sonar/
nyc_coverage*

.turbo