*.log
*.local
.cache

# Node
node_modules

# output
build
dist
storybook-static
docs

# Turborepo
.turbo

# Dotenv
.env
.env.*
!.env.e2e
!.env.test

# MacOS
.DS_Store

# ESlint
.eslintcache

# Yarn
.pnp.*
.yarn
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Tests
reports
*.report.xml

# Coverage
sonar

#jetbrains
.idea
