*.log
*.local
.cache

# Node
node_modules

# output
apps/*/build
examples/*/build
packages/*/build
dist
storybook-static
docs

# Turborepo
.turbo

# Dotenv
.env
.env.*
!.env.e2e
!.env.test

# MacOS
.DS_Store

# ESlint
.eslintcache

# Yarn
.pnp.*
.yarn/*.gz
.yarn/cache
.yarn/versions

# Tests
reports
*.report.xml

# Coverage
sonar

#jetbrains
.idea
