@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@450&display=swap');

@font-face {
  font-family: 'UCityProWeb';
  src:
    local('UCityProWeb'),
    url('./UCityProWeb-Regular.woff') format('woff'),
    url('./UCityProWeb-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'UCityProWeb';
  src:
    local('UCityProWeb'),
    url('./UCityProWeb-Semibold.woff') format('woff'),
    url('./UCityProWeb-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'UCityProWeb';
  src:
    local('UCityProWeb'),
    url('./UCityProWeb-Bold.woff') format('woff'),
    url('./UCityProWeb-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'ABCMaxiRound';
  src:
    local('ABCMaxiRound-Light'),
    url('./ABCMaxiRound-Light.woff') format('woff'),
    url('./ABCMaxiRound-Light.woff') format('woff2');
  font-weight: 700;
}
