:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: #0a0a0a;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  margin-bottom: 12px;
}

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@450&display=swap');

@font-face {
  font-family: 'UCityProWeb';
  src:
    local('UCityProWeb'),
    url('/fonts/UCityProWeb-Regular.woff') format('woff'),
    url('/fonts/UCityProWeb-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'UCityProWeb';
  src:
    local('UCityProWeb'),
    url('/fonts/UCityProWeb-Semibold.woff') format('woff'),
    url('/fonts/UCityProWeb-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'UCityProWeb';
  src:
    local('UCityProWeb'),
    url('/fonts/UCityProWeb-Bold.woff') format('woff'),
    url('/fonts/UCityProWeb-Bold.woff2') format('woff2');
  font-weight: 700;
}
