name: Build and Deploy
on:
  push:
    branches:
      - master
      - ben/dx-2338
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1
        with:
          persist-credentials: false
      - uses: volta-cli/action@v4
      - name: Install and Build
        working-directory: ./packages/react-chat
        run: |
          yarn install
          yarn build:storybook
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.4.0
        with:
          branch: docs
          folder: ./packages/react-chat/docs
          clean: true
